
.avatar img{
    width: 75px;
    height: 75px;
}

/*fotografla yazıyı yan yana getirmek için  */ 
.user{
    display: flex;
    align-items: center;
    width: 75%;
    border: 1px solid #ccc;
    margin: 5px 0 ;
    box-shadow: 25px 25px 15px  grey;
}

.avatar{
    margin: 35px;
    text-align: center;
}

.yorumlar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(img/kurucular.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:768px) {
    .user{
        flex-direction: column;
        width: 100%;
        border-radius: 6px;
        padding: 15px;
        margin: 15px;
    }
    .yorumlar h2{
        padding: 25px ;
    }
}