
.footer{
    background-color: yellow;
    width: 100%;
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a{
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 2px;
}