
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 100%;
    height: max-content;
    background-image: url("menu.jpg");
    background-size: cover;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    padding: 8px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-right:1px solid black ;

}

.navbar a:hover{
    color: black;

}

.navbar-h2{
    color: white;  
    letter-spacing: 1px; 
}

/*Responsive düzenlemeye geciyoruz */

@media(max-width:768px)
{
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
    }
    .navbar a{
        display: block;
        line-height: 25px;
        padding: 20px;
        border: hidden;
        text-align: right;
        color: black;
        box-shadow: 12px 12px 12px red;
        letter-spacing: 1px;
    }
    .navbar a:hover{
        background-color: yellow;
        color: red;

    }
    .navbar h2{
        box-shadow: 8px 8px 3px white;
    }
}
